---
import Page from "../components/pageLayout.astro";
import Tools from "../components/tools.astro";

export interface Props {
    description: string;
    title: string;
    path: string;
}
const props = Astro.props;
---

<Page description="About SamMc" title="About Me" path="aboutme">
    <main>
      <Tools />
    </main>
</Page>
