---
import Page from "../components/page.astro";

export interface Props {
    description: string;
    title: string;
    path: string;
}
const props = Astro.props;
---

<Page description="About SamMc" title="About Me" path="aboutme">
    <main></main>
</Page>
