---
import Page from "../components/page.astro";

export interface Props {
    description: string;
    title: string;
    path: string;
}
const props = Astro.props;

import Projects from "../components/projects.astro";
import Tools from "../components/tools.astro";
---

<Page description="About SamMc" title="About Me" path="aboutme">
    <main>
        <Projects />
        <Tools />
    </main>
</Page>
