---

import Page from "../components/page.astro";

export interface Props {
  description: string;
  title: string;
  path: string;
}
const props = Astro.props;

import Hero from "../components/hero.astro";
import Tools from "../components/tools.astro";
---

<Page description="SamMc" title="SamMc" path="/">
  <main>
    <Hero />
  </main>
</Page>
