---
import { Image } from "@astrojs/image/components";
import Page from "../components/page.astro";

export interface Props {
  description: string;
  title: string;
  path: string;
}
const props = Astro.props;

import Hero from "../components/hero.astro";
import Tools from "../components/tools.astro";
---

<Page description="SamMc" title="SamMc" path="/">
  <main>
    <Hero />
    <Tools />
    <section id="projects" class="w-full px-4 pb-8 pt-2 sm:px-8 sm:pt-0">
      <h2 class="mb-4 text-2xl font-mono font-bold">Projects</h2>
      <div class="grid gap-4">
        <div
          class="card rounded-box w-full bg-base-100 shadow-xl transition-all ease-in-out hover:scale-105 hover:brightness-105"
        >
          <a
            target="_blank"
            rel="noopener noreferrer"
            class="card-body"
            href="https://discord.com/api/oauth2/authorize?client_id=1077159995487035402&permissions=19456&scope=bot%20applications.commands"
            ><h2 class="flex justify-between">
              <div class="card-title font-bold text-3xl">
                <Image
                  src="/statistical.png"
                  alt="Statistical Logo"
                  format="webp"
                  width={80}
                  height={80}
                  class="w-[40px] h-[40px] rounded-full"
                /> Project
              </div>
            </h2>
            <p>Lorem ipsom dolor!</p>
            <div class="card-actions mt-2">
              <span class="text-sm font-light">Tools Used</span>
            </div>
          </a>
        </div>
      </div>
    </section>
  </main>
</Page>
