---
import { Image } from "@astrojs/image/components";
import Github from "../components/github.astro";
---

<html lang="en" class="bg-base-200 scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>SamMc</title>
        <meta name="title" content="SamMc" />
        <meta name="description" content="SamMc - Data Dev Design" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://sammc.net" />
        <meta property="og:description" content="SamMc - Data Dev Design" />
        <meta property="twitter:title" content="SamMc" />
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://sammc.net" />
        <meta name="theme-color" content="#fb923c" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
    </head>
    <body>
        <div class="mx-0 sm:mx-auto max-w-2xl">
            <header
                class="navbar h-16 w-full justify-between p-4 my-4 rounded-lg bg-base-100"
            >
                <nav class="flex text-lg">
                    <ul class="menu menu-horizontal">
                        <li>
                            <a class="font-mono font-medium rounded-lg" href="/"
                                >Home</a
                            >
                        </li>
                        <li>
                            <a
                                class="font-mono font-medium rounded-lg"
                                href="#languages">Tools</a
                            >
                        </li>
                        <li>
                            <a
                                class="font-mono font-medium rounded-lg"
                                href="#projects">Projects</a
                            >
                        </li>
                    </ul>
                </nav>
            </header>
            <main></main>
        </div>
        <div class="items-center pl-4">
            &copy; SamMc {new Date().getFullYear()}. All rights reserved.
        </div>
    </body>
</html>
