---
import Github from "../components/github.astro";
import Email from "../components/email.astro";
import Mastodon from "../components/mastodon.astro";
---

<footer
  class="items-center p-4 sm:flex sm:flex-row-reverse sm:justify-between sm:p-4 my-4 font-mono text-secondary"
>
  <div
    class="grid-flow-col gap-2 md:place-self-center md:justify-self-end pr-1"
  >
    <a
      target="_blank"
      rel="noopener noreferrer"
      title="Email"
      aria-label="Email Me"
      class="btn-ghost btn-circle btn"
      href="mailto:hello@imsammc.dev"
    >
      <Email />
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      title="Go to GitHub"
      aria-label="Go to GitHub"
      class="btn-ghost btn-circle btn"
      href="https://github.com/sa-mc"
    >
      <Github />
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      title="Go to Mastodon"
      aria-label="Go to Mastodon"
      class="btn-ghost btn-circle btn"
      href="https://hachyderm.io/@SamMc"
    >
      <Mastodon />
    </a>
  </div>
  <div class="items-center pl-4 text-[#BAB8E8]">
    &copy; SamMc {new Date().getFullYear()}. All rights reserved.
  </div>
</footer>
