---
import Github from "../components/github.astro";
import Email from "../components/email.astro";
---

<footer
  class="items-center p-4 sm:flex sm:flex-row-reverse sm:justify-between sm:p-4 my-4 font-mono"
>
  <div
    class="grid-flow-col gap-2 md:place-self-center md:justify-self-end pr-1"
  >
    <a
      target="_blank"
      rel="noopener noreferrer"
      title="Email"
      aria-label="Email"
      class="btn-ghost btn-circle btn"
      href="mailto:hello@sammc.net"
    >
      <Email />
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      title="Go to GitHub"
      aria-label="Go to GitHub"
      class="btn-ghost btn-circle btn"
      href="https://github.com/sa-mc"
    >
      <Github />
    </a>
  </div>
  <div class="items-center pl-4">
    &copy; SamMc {new Date().getFullYear()}. All rights reserved.
  </div>
</footer>
