<header class="navbar h-16 w-full justify-between p-4 my-4 font-sans">
    <nav class="flex text-lg">
        <ul class="menu menu-horizontal">
            <li>
                <a class="font-medium rounded-lg" href="/">Home</a>
            </li>
            <li>
                <a class="font-medium rounded-lg" href="aboutme">About</a>
            </li>
        </ul>
    </nav>
</header>
